body{
    font-family: 'Montserrat', sans-serif;    
    margin: 0;
    padding: 0;
    background-color:#202020;
    transition: all 0.2s ease;
    
    &.lightTheme{
        background-color: #F3F3F3;
    }
}

header{
    display: flex;
    background-color: #282828;
    padding: 4px;


    &.lightTheme{
        background-color: #F8F8F8;
    }
}

.tit{
    margin-left: 10px;
    font-weight: bold;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}


.reloj{
    display: flex;
    font-size:0.9rem;
    font-weight: bold;
    letter-spacing: 0.7px;
    margin-left: 10px;
}

.fecha{

    color: #D9D9D9;

    &.lightTheme{
        color: #202020;
    }
}

/* Main */

main{
    margin-left: 20%;
    margin-top: 5%;
    transition: all 0.3s ease;
    
    &.fullWidhtMode{
        margin-left: 5%;
    }
}

.menu2{
    display: flex;
    align-items: center;
}

.welc{
    color: #9B9B9B;
    font-size: 1rem;

    &.lightTheme{
        color: #202020;
    }
}

#taskInput{
    margin-left: 15px;
    color:#D9D9D9;
    background-color: transparent;
    border: 0;
    font-size: 0.8rem;
    width: 50%;

    &.lightTheme{
        color: #202020;
    }
}

#taskInput:focus{
    outline: none;
}

#addButton{
    padding: 3px;
    transition: all 0.3s ease;
    border-radius:5px;
}

#addButton:hover{
    background-color: #D9D9D9;
    transform: scale(1.06);
}

/* LISTA */

ul{
    margin-left:18%;
    margin-top: 2%;
    margin-right: 10%;
    transition: all 0.3s ease;

    &.fullWidhtMode{
        margin-left: 3%;
        margin-right: 3%;
    }
}


@media (max-width: 940px){
    ul{
        margin-left: 15%;

        &.fullWidhtMode{
            margin-left: 0%;
            margin-right: 3%;
        }
    }
}

ul li{
    list-style: none;
    font-size: 15px;
    padding: 10px 10px 10px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-color:#282828;
    display: flex;
    align-items: center;
    color: #D9D9D9;
    margin-top: 10px;

    &.lightTheme{
        color: #202020;
        background-color: #ECECEC;
    }
}


ul li::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background-image: url(assets/checkbox.svg);
    background-size: cover;
    background-position: center;
    left:15px;
    transition: all 0.2s ease;
}

ul li::before:hover{
    background-color: #D9D9D9;
}

ul li.cheked{
    text-decoration: line-through;
    transition: all 0.2s ease;
    color: #9B9B9B;
}

ul li.cheked::before{
    background-image: url(assets/cheked.svg);
}

ul li span{
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 30px;
    color: #DE4C4A;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

ul li span:hover{
    background-color: #D9D9D9;
}

/* SWITCH THEME */

.boton{
    margin: 5px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.lbl-switch{
    margin-left: 10px;
    display: inline-block;
    width: 40px;
    height: 25px;
    background-color: #D9D9D9;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;

}


.lbl-switch::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #282828;
    border-radius: 200px;
    top: 3px;
    left: 2px;
    right: unset;
    transition: all 0.3s ease;
}

#switchTheme:checked~ .lbl-switch{
    background-color: #282828;
    transition: all 0.3s ease;
}

#switchTheme:checked~ .lbl-switch::after{
    background-color: #D9D9D9;
    left: unset;
    right: 2px;
}

#switchTheme{
    display: none;
}



/* FULL WIDTH ICON */


.lbl-width{
    margin-left: 10px;
    display: inline-block;
    width: 40px;
    height: 25px;
    background-color: #D9D9D9;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}


.lbl-width::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #282828;
    border-radius: 200px;
    top: 3px;
    left: 2px;
    right: unset;
    transition: all 0.3s ease;
}

#fullwidthmode:checked~ .lbl-width{
    background-color: #D9D9D9;
    transition: all 0.3s ease;
}

#fullwidthmode:checked~ .lbl-width::after{
    background-color: #282828;
    left: unset;
    right: 2px;
}

#fullwidthmode{
    display: none;
}

#fullwidthmode{
    display: none;
}

.options{
    color: #D9D9D9;
    font-size: 0.9rem;
    font-weight: bold;

    &.lighTtheme{
        color: #282828;
    }
}