body{
    font-family: 'Montserrat', sans-serif;    
    margin: 0;
    padding: 0;
    background-color:#202020;
}

header{
    display: flex;
    background-color: #282828;
    padding: 4px;
}

.tit{
    margin-left: 10px;
    font-weight: bold;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}

.pp{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-left: 15px;
    transition: all 0.2s ease;
}

.pp:hover{
    transform: scale(1.02);
}

.options{
    width: 20px;
    height: 20px;
    transition: all 0.4s ease;
}

.options:hover{
    transform: scale(1.15);
}

.reloj{
    display: flex;
    font-size:0.7rem;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 0.7px;
    margin-left: 10px;
}

/* Main */

main{
    margin-left: 20%;
    margin-top: 5%;
}

.menu2{
    display: flex;
    align-items: center;
}

.welc{
    color: #9B9B9B;
    font-size: 1rem;
}

#taskInput{
    margin-left: 15px;
    color: #9B9B9B;
    background-color: transparent;
    border: 0;
    font-size: 0.8rem;
    width: 50%;
}

#taskInput:focus{
    outline: none;
}

#addButton{
    padding: 3px;
    transition: all 0.3s ease;
    border-radius:5px;
}

#addButton:hover{
    background-color: #D9D9D9;
    transform: scale(1.06);
}

/* LISTA */

ul{
    margin-left: 15%;
    margin-top: 2%;
    margin-right: 10%;
}

ul li{
    list-style: none;
    font-size: 15px;
    padding: 10px 10px 10px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-color:#282828;
    display: flex;
    align-items: center;
    color: #D9D9D9;
    margin-top: 10px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background-image: url(assets/checkbox.svg);
    background-size: cover;
    background-position: center;
    left:15px;
    transition: all 0.2s ease;
}

ul li::before:hover{
    background-color: #D9D9D9;
}

ul li.cheked{
    text-decoration: line-through;
    transition: all 0.2s ease;
    color: #9B9B9B;
}

ul li.cheked::before{
    background-image: url(assets/cheked.svg);
}

ul li span{
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 30px;
    color: #DE4C4A;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

ul li span:hover{
    background-color: #D9D9D9;
}

/* SWITCH THEME */

.switchTheme{
    border: none;
    background-color: #202020;
    border-radius: 100px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    outline: none;
}

.switchTheme::after{
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: #D9D9D9;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100%;
    transition: all 0.2s ease;
}

.switchTheme img{
    padding: 5px;
}