:root{
    
    --background-Color:#202020; /* BODY BACKGROUND */
    --headerBackground: #282828; /* HEADER COLOR */

    --ulBackground: #282828; /* ITEM BACKGROUND */

    --textColor: #ECECEC; /* COLOR DE TEXTO */

}
