:root{
    
    --background-Color:#F8F8F8; /* BODY BACKGROUND */
    --headerBackground: #F3F3F3; /* HEADER COLOR */

    --ulBackground: #ECECEC; /* ITEM BACKGROUND */

    --textColor: #282828; /* COLOR DE TEXTO */

}
